$primaryColorLight: #f5f5f5;
$secondaryColorLight: #DBDAD4;

$primaryColorDark: #4d4b40;
$secondaryColorDark: #414E4C;
$tertiaryColorDark: #43414E;

$accessoryColor: #ed7564;

$primaryFont: 'Krub', sans-serif;
$secondaryFont: 'Marcellus', serif;